<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Itaú</title>
</head>
<body>
    <h2>Desafio Itaú Unibanco</h2>
    <button type="button" id="efetuar-transacao">Efetuar transação</button> <br><br>
    <button type="button" id="limpar-transacoes">Limpar transações</button> <br><br>
    <button type="button" id="carregar-estatisticas">Estatísticas</button> <br><br>

    <h2>Últimas transações</h2>
    <p id="transacoes"></p>

    <h2>Estatísticas</h2>
    <p id="estatisticas"></p>

    <script src="../static/js/index.js"></script>
</body>
</html>